<div class="columns">
  <div class="column">
    <h3 class="title">Find Animals Near You</h3>
    <p class="subtitle">Bring Your New Best Friend Home.</p>
  </div>
</div>

<br><br>


<div class="columns is-multiline is-centered is-mobile has-background-light">
  <%= form_with(url: animals_path, method: :get, local: true, html: { class: 'column is-12 has-text-centered' }) do |form| %>
    <%= form.label :search, 'Search', class: 'sr-only' %>
    <input type="hidden" name="sorting" id="sorting" value="name">
    <div class="column is-12" style="display: flex; justify-content: center;">
      <div class="field has-addons" style="max-width: 100%;">
        <div class="control is-expanded">
          <%= form.text_field :search, value: params[:search], class: 'input is-medium', placeholder: 'Search' %>
        </div>
        <div class="control">
          <%= form.select :city, @cities.unshift('Any City'), { selected: params[:city] || 'Any City' }, { class: 'input is-medium' } %>
        </div>
        <div class="control">
          <%= form.select :country, @countries.unshift('Any Country'), { selected: params[:country] || 'Any Country' }, { class: 'input is-medium' } %>
        </div>
        <div class="control">
          <%= form.submit 'Search', class: 'button is-warning is-medium' %>
        </div>
        <div class="control">
          <button id="reset-location" class="button is-warning is-medium is-light">Reset</button>
        </div>
      </div>
    </div>
  <% end %>
</div>


<div class="columns">
  <div class="column is-12 has-text-center">
    <button id="sort-name" class="button is-small is-rounded animal-sort-button sort-name">Sort by Name</button>
    <button id="sort-breeder_id" class="button is-small is-rounded animal-sort-button sort-breeder_id">Sort by Breeder</button>
    <button id="sort-animal_type" class="button is-small is-rounded animal-sort-button sort-animal_type">Sort by Type</button>
    <button id="sort-breed" class="button is-small is-rounded animal-sort-button sort-breed">Sort by Breed</button>
    <button id="sort-price" class="button is-small is-rounded animal-sort-button sort-price">Sort by Price</button>
    <button id="sort-anticipated_birthday" class="button is-small is-rounded animal-sort-button sort-anticipated_birthday">Sort by Birth</button>
    <button id="sort-city" class="button is-small is-rounded animal-sort-button sort-city">Sort by City</button>
    <button id="sort-country" class="button is-small is-rounded animal-sort-button sort-country">Sort by Country</button>
  </div>
</div>

<br>

<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <div id="animals-container" class="columns is-multiline is-mobile">
      <%= render partial: "animal_grid", locals: {animals_var: @animals} %>
    </div>
  </div>
</div>


<% if @is_admin %>
  <div class="columns">
    <div class="column has-text-right">
      <%= link_to 'New Animal', new_animal_path, class:"button is-warning is-light" %>
    </div>
  </div>
<% end %>