<!--<h1>New Animal</h1>-->

<%#= render 'form' %>

<%#= link_to 'Back', animals_path %>


<div class="columns">
  <div class="column">
    <h3 class="title">Add a New Animal</h3>
  </div>
</div>



<div class="columns is-mobile is-centered">
  <div class="column is-10">
    <%= form_tag animals_path do %>
      <div class="field">
        <%= label :animal, :name, "Animal Name", class:'label' %>
        <div class="control">
          <%= text_field :animal, 'name', class:'input' %>
        </div>
      </div>

      <div class="field">
        <%= label :animal, :animal_type, "Animal Type", class:'label' %>
        <div class="control">
          <%= text_field :animal, 'animal_type', class:'input' %>
        </div>
      </div>

      <div class="field">
        <%= label :animal, :personality, "Animal Personality", class:'label' %>
        <div class="control">
          <%= text_field :animal, 'personality', class:'input' %>
        </div>
      </div>

      <div class="field">
        <%= label :animal, :price, "Price", class:'label' %>
        <div class="control">
          <%= text_field :animal, 'price', class:'input' %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= submit_tag 'Submit', class: 'button is-warning' %>
        </div>
        <div class="control">
          <%= link_to 'Cancel', animals_path, class: 'button' %>
        </div>
      </div>
    <% end %>
  </div>
</div>