<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @animal.type %>
</p>

<p>
  <strong>Personality:</strong>
  <%= @animal.personality %>
</p>

<p>
  <strong>Price:</strong>
  <%= @animal.price %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
